@model IEnumerable<CLDV6211_EventEase_POE.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Events" asp-action="Index">
    <p>
        <label>Name: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
